<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="car1"/>
    <arg name="role" default="leader"/>
    <node pkg="rap_controller" type="rap_controller.py" name="rap_controller_$(arg robot_name)" output='screen'>
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="role" value="$(arg role)"/>
        <param name="sim" value="false"/>
        <param name="reverse_omega" value="false"/>
        <param name="ctl_frequency" value="30"/>
    </node>
</launch>
