<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="car1"/>
    <node pkg="rap_controller" type="rap_planner.py" name="rap_planner" output='screen'>
        <param name="ctl_frequency" value="30"/>
        <param name="map_frame" value="$(arg robot_name)/map"/>
        <param name="big_car_frame" value="$(arg robot_name)/center_big_car"/>
        <param name="global_path_topic" value="/$(arg robot_name)/move_base/GlobalPlanner/plan"/>
        <param name="kp_vel" value="0.5"/>
        <param name="look_ahead_dist" value="0.8"/>
        <param name="goal_tolerance" value="0.1"/>
    </node>
</launch>
